<%- include('./blocks/navbar') %>
<link rel="stylesheet" href="/css/video-player.css" type="text/css">
<div class="container-fluid" style="padding-top:25px;">
  <div class="row">
    <div class="col-lg-8">
      <%- include('./partials/video-player', {link: `/video/data/${ID}`})%>
      &nbsp;
      <h4><%= video.title %></h4>
      <p style="text-align:left;">
        <%= video._count.views ?? 0 %> views - <%= timeAgo.format(video.uploadedAt) %>
        <span style="float:right;">
          <a type="button" onclick="likeVid()">
            <% if (video.likes.find(obj => obj.channelId == user?.id)) { %>
              <i class="fas fa-thumbs-up"></i> <%= video.likes.length %>
            <% } else { %>
              <i class="far fa-thumbs-up"></i> <%= video.likes.length %>
            <% } %>
          </a>
          &nbsp;
          <a type="button" onclick="dislikeVid()">
            <% if (video.dislikes.find(obj => obj.channelId == user?.id)) { %>
              <i class="fas fa-thumbs-down"></i> <%= video.dislikes.length %>
            <% } else { %>
              <i class="far fa-thumbs-down"></i> <%= video.dislikes.length %>
            <% } %>
          </a>
        <div class="progress" style="width:125px;float:right;height:2px;">
          <div class="progress-bar" role="progressbar" style="width: <%= video.likes.length / (video.likes.length + video.dislikes.length)*100 %>%" aria-valuenow="<%= video.likes.length / (video.likes.length + video.dislikes.length)*100  %>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        </span>
      </p>
      <div style="height:1px;"></div>
      <hr>
      <div class="Owner-Section">
        <div class="media">
          <img class="mr-3 rounded-circle" width="48" src="/api/avatar/<%= video.owner.id%>" alt="Generic placeholder image">
          <div class="media-body row" style="width:100%">
            <div class="col-sm-6">
              <h5><%= video.owner.name %></h5>
              <p><%= video.owner.subscribers?.length ?? 0 %> subscribers</p>
            </div>
            <div class="col-sm-6">
            <!--Check subscription button-->
            <% if (video.owner.id !== user?.id) { %>
              <button class="btn btn-danger" style="float:right" onclick="Subscribe">Subscribe</button>
            <% } else if (true) { %>
              <button class="btn btn-secondary" style="float:right" onclick="Subscribe">Subscribed</button>
            <% } %>
            </div>
              <p class="light" id="desc">
                <%= video.description ?? ''%>
              </p>
              <a onclick="toggleDesc()" id="myBtn" class="btn">Show more</a>
          </div>
        </div>
      </div>
      <hr>
      <div class="comments">
        <div class="d-flex flex-row">
          <h6 class="p-2"><%= comments.length %> comments</h6>
          <div class="dropdown p-2">
            <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
              Sort by
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Top comments</a>
              <a class="dropdown-item" href="#">Newest first</a>
            </div>
          </div>
        </div>
        <% if (user) { %>
          <form class="form-inline" action="/video/comment/<%= video.id%>" method="POST">
            <img src="/api/avatar/<%= user.id%>" style="width:40px;" class="rounded-circle" alt="User avatar">
            <input type="text" id="inputPassword2" placeholder="Add a public comment" name="content" autocomplete="off">
            <span class="bar"></span>
            <div class="d-flex flex-row-reverse" style="width:100%;padding-top:4px;">
              <button type="submit" class="btn btn-primary">Comment</button>
              <button type="submit" class="btn btn-secondary">Cancel</button>
            </div>
          </form>
        <% } else { %>
          <a href="/login">Sign in to leave a comment</a>
        <% } %>
        <% for (const comment of comments) { %>
          <%- include('./partials/comment', {comment}) %>
        <% } %>
      </div>
    </div>
    <div class="col-lg-4" style="padding-left:70px;">
      <% for (let count = 0; count < 20; count++) { %>
        <%- include('./partials/video-thumbnail.ejs', {isRecommended: true})%>
        &nbsp;
      <% } %>
    </div>
  </div>
</div>
<style media="screen">
#desc {
  position: relative;
  overflow: hidden;
  max-height: 70px; // The Height of 3 rows
}
/* BOTTOM BARS ================================= */
.group {
  position:relative;
  margin-bottom:45px;
}
input {
  font-size:14px;
  padding:10px 10px 10px 5px;
  display:block;
  background-color: transparent;
  width:96%;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus {
  outline:none;
}

/* LABEL ======================================= */
label 				 {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar {
  position:relative;
  display:block;
  width:100%;
}
.bar:before, .bar:after {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#5264AE;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
</style>
<script type="text/javascript">
  function toggleDesc() {
    var btnText = document.getElementById("myBtn");
    var text = document.getElementById("desc")
    if (btnText.innerHTML === "Show more") {
      btnText.innerHTML = "Show less";
      text.style['max-height'] = '150px'
    } else {
      btnText.innerHTML = "Show more";
      text.style['max-height'] = '70px'
    }
  }


  function myFunction() {
    var x = document.getElementById("replies");
    console.log(x.dataset)
    if (x.style.display === "none") {
      //Show replies
      $.ajax({
        type: "GET",
        url: `/video/replies/${x.dataset.reply}`,
        dataType: "json",
        success: function(response) {
          console.log(response)
          const comments = []
          for (const comment of Object.values(response)) {
            console.log(comment)
            comments.push(`
            <div class="media">
              <img class="mr-3" src="/api/avatar/${comment.ownerId}" alt="Icon">
              <div class="media-body">
                <h5 class="mt-0">${comment.owner.name} <small>${(comment.createdAt - comment.updatedAt > 1000)  ? '(edited)' : ''}</small></h5>
                ${comment.content}
                <br>
                <i class="fas fa-thumbs-up"></i> ${comment.likes}
                <i class="fas fa-thumbs-down"></i> ${comment.dislikes}
              </div>
              </div>
            </div>
            `)
          }
          $('#replies').html(comments.join(' '));
          // alert(response);
          x.style.display = "block";
        }
      })
    } else {
      x.style.display = "none";
    }
  }

  function likeVid() {
    $.ajax({
  		url: `video/like/${window.location.search.replace('?v=', '')}`,
  		type: 'POST',
  		data: JSON.stringify({ 'data': 'some more data' }),
  		dataType: 'json',
  		contentType: 'application/json',
  		complete: function(data) {
        console.log(data)
  		},
  	});
  }

  function dislikeVid() {
    $.ajax({
  		url: `video/dislike/${window.location.search.replace('?v=', '')}`,
  		type: 'POST',
  		data: JSON.stringify({ 'data': 'some more data' }),
  		dataType: 'json',
  		contentType: 'application/json',
  		complete: function(data) {
        console.log(data)
  		},
  	});
  }

  window.addEventListener('DOMContentLoaded', (event) => {
    $.ajax({
      url: `video/view/${window.location.search.replace('?v=', '')}`,
      type: 'POST',
      data: JSON.stringify({ 'data': 'some more data' }),
      dataType: 'json',
      contentType: 'application/json',
      complete: function(data) {
        console.log(data)
      },
    });
  });
</script>
